html, body, #root{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#the-div {
    height: 100%;
}

#the-x, .red-x, .edit-button, .save-edits, .trash {
    height: 20px;
    width: 20px;
    margin: 5px
}

h1, h2, h3, label {
    font-family: "Arial";
    margin-top: 0px;
    color: white;
    user-select: none;
}

h1, h2, h3 {
    margin-left: 10px;
}

#options-menu {
    display: flex;
    flex-direction: column;
}

#the-x-div {
    display: flex;
    flex-direction: row-reverse;
}

label {
    font-size: 18px;
}

.color-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    height: 30px;
}

.color-item-inner {
    display: flex;
    align-items: center;
}

.color-box {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.options-section {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.indented {
    margin-left: 20px;
    margin-top: 5px;
}

.more-indented {
    margin-left: 40px;
}

.num-input {
    width: 40px;
    margin-left: 5px;
    margin-right: 8px;
}

#name-input {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.trash {
    margin-left: 0px;
}

.error-message {
    color: red;
    margin-top: 5px;
}